<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package = "com.bookstore"></context:component-scan>
	
	<mvc:annotation-driven/>
	<mvc:resources location="/WEB-INF/resources/" mapping="/resources/**"/>
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">    
		<property name="prefix" value="/WEB-INF/jsp/"></property>    
		<property name="suffix" value=".jsp"></property>    
	</bean> 
	
	<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">    
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>    
		<property name="url" value="jdbc:mysql://localhost:3306/bookstore"></property>    
		<property name="username" value="root"></property>    
		<property name="password" value="sunil"></property>    
	</bean>    
	    
	<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">    
		<property name="dataSource" ref="ds"></property>    
	</bean>    
	    
	<bean id="empDao" class="com.bookstore.dao.EmpDao">    
		<property name="template" ref="jt"></property>    
	</bean>
	<!-- <bean id="userDao" class="com.bookstore.dao.UserDao">    
		<property name="template" ref="jt"></property>    
	</bean> -->
	<bean id="bookDao" class="com.bookstore.dao.BookDao">    
		<property name="template" ref="jt"></property>    
	</bean>
	<bean id="feedbackDao" class="com.bookstore.dao.FeedbackDao">    
		<property name="template" ref="jt"></property>    
	</bean>
	<bean id="purchaseDao" class="com.bookstore.dao.PurchaseDao">    
		<property name="template" ref="jt"></property>    
	</bean>
</beans>