body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size:22;
}
a:hover{
    cursor: pointer;
}
table{
    border: 2px solid white;
    width:100%;
    border-spacing: 0;
    min-height: 500px;
    overflow-x: auto;
    background-color: yellow;
}

tr,th{
    text-align: center;
}
tr{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 5px;
    height: 
}
td{
    padding: 2px;
    border-right: 1px solid white;
}