body{
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Inter', sans-serif;
}
*{
    box-sizing: border-box;
}
a:hover{
    cursor: pointer;
}
table{
    border: 1px solid white;
    width:100%;
    border-spacing: 0;
    min-height: 400px;
    overflow-x: auto;
}

tr,th{
    text-align: center;
}
tr{
    border-bottom: 1px solid white;
    border-right: 1px solid white;
    padding: 10px;
}
td{
    padding: 10px;
    border-right: 1px solid white;
}